<div class="row-fluid">
	<div class="span12">
		<h1>Edit <%= resource_name.to_s.humanize %></h1>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-vertical' }) do |f| %>
			<%= f.error_notification %>
			<%= display_base_errors resource %>
			<%= f.input :name, :autofocus => true %>
			<%= f.input :email, :required => true %>
			<%= f.input :password, :autocomplete => "off", :hint => "<em><small>Leave it blank if you don't want to change it</small></em>", :required => false %>
			<%= f.input :password_confirmation, :required => false %>
			<%= f.input :current_password, :hint => "<em><small>We need your current password to confirm your changes</small></em>", :required => true %>
			<%= f.button :submit, 'Update', :class => 'btn-primary' %>
		<% end %>
	</div>
</div>
<div class="row-fluid">
	<div class="span2">
		<%= button_to "Reset OTP secret", reset_secret_user_path(current_user.id), :class => 'btn btn-warning', :data => {:confirm => "Are you sure?" }, :method => :get %>
	</div>
	<div class="span2">
		<%= button_to "Delete account", registration_path(resource_name), :class => 'btn btn-danger', :data => { :confirm => "Are you sure?" }, :method => :delete %>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<%= link_to "Back", :back %>
	</div>
</div>
