<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= content_for?(:title) ? yield(:title) : "Tfa" %></title>
<meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Tfa" %>">
<%= stylesheet_link_tag :bootstrap %>
<%= stylesheet_link_tag :bootstrap_and_overrides %>
<%= javascript_include_tag :bootstrap %>
<%= javascript_include_tag :application %>
<%= javascript_include_tag :home %>
<%= csrf_meta_tags %>
<%= yield(:head) %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
<div id="container" class="container">
	<div class="row-fluid">
		<div class="span12">
			<%= render 'layouts/navigation' %>
			<%= bootstrap_flash %>
		</div>
	</div>
	<div id="main" role="main">
		<%= yield %>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<footer>
			</footer>
		</div>
	</div>
</div> <!--! end of #container -->
</body>
</html>
